Source: fonts-sil-lateefgr
Section: fonts
Priority: optional
Maintainer: Bobby de Vos <bobby_devos@sil.org>
Build-Depends: debhelper (>=9~)
Standards-Version: 4.1.2
Homepage: https://software.sil.org/lateef
#Vcs-Git: https://anonscm.debian.org/git/pkg-fonts/fonts-sil-lateefgr.git
#Vcs-Browser: https://anonscm.debian.org/cgit/pkg-fonts/fonts-sil-lateefgr.git

Package: fonts-sil-lateefgr
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Unicode Arabic font for southern Asia
 Lateef is an extended Arabic script font designed by SIL International.
 .
 Lateef is named after Shah Abdul Lateef Bhitai, the famous Sindhi mystic and
 poet. It is intended to be an appropriate style for use in Sindhi and other
 languages of the southern Asia:
 .
 Lateef is currently available in Regular weight only.
 Font sources are published in the repository and a smith open workflow is
 used for building, testing and releasing.
 .
 Webfont versions and HTML/CSS examples are also available.
 The full font sources are publicly available at
 https://github.com/silnrsi/font-lateef
